In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Leua,SK,2021-01-31 15:02:08,48.2156,18.6071,37.99,72,100,3.85
1,1,Geraldton,AU,2021-01-31 15:02:08,-28.7667,114.6000,78.80,57,0,19.57
2,2,Mataura,NZ,2021-01-31 15:02:08,-46.1927,168.8643,55.17,71,100,2.06
3,3,Weymouth,US,2021-01-31 15:02:08,42.2209,-70.9398,19.00,52,40,3.44
4,4,Torbay,CA,2021-01-31 15:02:08,47.6666,-52.7314,33.01,93,90,12.66

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:

# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Geraldton,AU,2021-01-31 15:02:08,-28.7667,114.6000,78.80,57,0,19.57
5,5,Arraial Do Cabo,BR,2021-01-31 15:00:07,-22.9661,-42.0278,89.60,51,0,18.41
6,6,Bredasdorp,ZA,2021-01-31 15:02:09,-34.5322,20.0403,75.00,68,0,8.99
7,7,Niquelandia,BR,2021-01-31 15:00:32,-14.4739,-48.4597,88.93,52,46,2.08
8,8,Bairiki,KI,2021-01-31 15:02:09,1.3292,172.9752,80.60,89,75,6.91
13,13,Ambulu,ID,2021-01-31 15:02:10,-8.3450,113.6058,77.68,85,100,1.81
15,15,Souillac,MU,2021-01-31 15:02:11,-20.5167,57.5167,84.20,65,75,10.36
17,17,Gao,ML,2021-01-31 15:02:11,16.6362,1.6370,86.95,11,14,8.95
18,18,Atuona,PF,2021-01-31 15:02:11,-9.8000,-139.0333,78.12,76,20,15.10
19,19,Rikitea,PF,2021-01-31 15:02:11,-23.1203,-134.9692,78.44,71,22,10.22

In [14]:
preferred_cities_df.notnull().sum()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [15]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [16]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1         Geraldton      AU     78.80 -28.7667  114.6000
5   Arraial Do Cabo      BR     89.60 -22.9661  -42.0278
6        Bredasdorp      ZA     75.00 -34.5322   20.0403
7       Niquelandia      BR     88.93 -14.4739  -48.4597
8           Bairiki      KI     80.60   1.3292  172.9752
13           Ambulu      ID     77.68  -8.3450  113.6058
15         Souillac      MU     84.20 -20.5167   57.5167
17              Gao      ML     86.95  16.6362    1.6370
18           Atuona      PF     78.12  -9.8000 -139.0333
19          Rikitea      PF     78.44 -23.1203 -134.9692

In [18]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"

In [19]:

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:17
Hotel not found... skipping., index:108
Hotel not found... skipping., index:120
Hotel not found... skipping., index:130
Hotel not found... skipping., index:132
Hotel not found... skipping., index:169
Hotel not found... skipping., index:170
Hotel not found... skipping., index:376
Hotel not found... skipping., index:381
Hotel not found... skipping., index:413
Hotel not found... skipping., index:420
Hotel not found... skipping., index:422
Hotel not found... skipping., index:446
Hotel not found... skipping., index:478
Hotel not found... skipping., index:489
Hotel not found... skipping., index:546

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Geraldton,AU,78.80,-28.7667,114.6000,Broadwater Mariner Resort
5,Arraial Do Cabo,BR,89.60,-22.9661,-42.0278,Pousada Porto Praia
6,Bredasdorp,ZA,75.00,-34.5322,20.0403,Bredasdorp Country Manor
7,Niquelandia,BR,88.93,-14.4739,-48.4597,Hotel Suinã
8,Bairiki,KI,80.60,1.3292,172.9752,Tarawa Boutique Hotel
13,Ambulu,ID,77.68,-8.3450,113.6058,Hotel Ambulu Jember
15,Souillac,MU,84.20,-20.5167,57.5167,Shanti Maurice Resort & Spa
17,Gao,ML,86.95,16.6362,1.6370,
18,Atuona,PF,78.12,-9.8000,-139.0333,Villa Enata
19,Rikitea,PF,78.44,-23.1203,-134.9692,Pension Maro'i

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))