## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [31]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Puerto Ayora,EC,77.00,broken clouds,-0.7393,-90.3518,Castillo Galapagos
1,4,Bambanglipuro,ID,80.55,light rain,-7.9500,110.2833,Puri Brata
2,5,Yaan,NG,76.77,broken clouds,7.3833,8.5667,NaN
3,8,Alyangula,AU,78.80,moderate rain,-13.8483,136.4192,Groote Eylandt Lodge
4,11,Bonthe,SL,77.07,clear sky,7.5264,-12.5050,Bonthe Holiday Village

In [68]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:

# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# Create a list of all countries with at least 4 cities in the DataFrame
country_counts = vacation_df.groupby('Country').count()['City']
countries = country_counts[country_counts >= 4].index

# Find the country with the smallest range of max temperatures
country = ''
difference = 100
for item in countries:
    cities = vacation_df[vacation_df['Country'] == item]
    city_range = cities['Max Temp'].max() - cities['Max Temp'].min()
    if city_range <= difference:
        difference = city_range
        country = item

indeces = vacation_df[vacation_df['Country'] == country]['City'].index

vacation_start = vacation_df.loc[[indeces[0]]]
vacation_end = vacation_df.loc[[indeces[0]]]
vacation_stop1 = vacation_df.loc[[indeces[1]]]
vacation_stop2 = vacation_df.loc[[indeces[2]]]
vacation_stop3 = vacation_df.loc[[indeces[3]]]

In [72]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
lats = vacation_df[vacation_df['Country'] == country]['Lat'].to_numpy()
lngs = vacation_df[vacation_df['Country'] == country]['Lng'].to_numpy()

start = (lats[0], lngs[0])
end = (lats[0], lngs[0])
stop1 = (lats[1], lngs[1])
stop2 = (lats[2], lngs[2])
stop3 = (lats[3], lngs[3])

In [73]:
stop2

(5.6667, 73.0)

In [80]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)
trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],
ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,84,Dhidhdhoo,MV,81.91,broken clouds,6.8833,73.1000,Dhidhoo beach
1,154,Hithadhoo,MV,81.79,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,312,Ugoofaaru,MV,81.25,overcast clouds,5.6667,73.0000,Ungoofaaru Inn
3,638,Kudahuvadhoo,MV,80.96,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives

In [78]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(3.2, -76.2), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))